@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary: #b88e2f;
  --font-color: #333;
  --color-light-bg: #f4f5f7;
}

html,
body {
  width: 100%;
  height: 100%;
}
